html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* task-3 */

#gallery {
  list-style: none;
  display: flex;
  margin-top: 40px;
}

#gallery li {
  width: 200px;
  margin-left: 40px;
}

/* task-5 */

#name-input {
  margin-top: 20px;
}

/* task-6 */

#validation-input {
  border: 3px solid #bdbdbd;
  outline: none;
}

#validation-input.valid {
  border-color: #4caf50;
  outline: none;
}

#validation-input.invalid {
  border-color: #f44336;
  outline: none;
}
